* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--primary-font);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
button,input,textarea{
    outline: none;
    border: none;
    background: transparent;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-size: 20px;
    color: var(--title-primary-color);
    font-weight: 700;
}

.subtitle{
    font-size: 18px;
    color: var(--title-primary-color);
    font-weight: 400;
}
body{
    background:var( --secondary-color);
}

.ellipsis{
    display:-webkit-box;
    text-overflow: ellipsis;
    --webkit-box-orient:vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
   max-width: 228px;
}