.first__box-cards{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    width: 100%;
    padding: 40px 0 100px;
}
.first__card{
    width: 340px;
    height: 385px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--primary-color);
    border-radius: 8px;
    
}
.first__card1{
    grid-column: 2 span;
    grid-row: 2 span;
     width: 710px; 
     height: 800px; 
}
.first__card-card1{
    max-width:413px ;
    display: flex;
    gap:40px ;
    justify-content: center;
    align-items: center;
}
.first__card-card img{
    width: 125px;
}

.icons__box{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.icons__box p{
    max-width: 103px;
    height: fit-content;
    background:var(--title-secondary-color) ;
    font-size:20px ;
    padding: 11px 31px;
    display: flex;
    align-items: center;
    color: var( --txt-primary-color);
    border-radius: 8px;
    margin: 20px 13px;
}
.icons__box-box{
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 20px 27px;

}
.icons__box-box a{
    max-width: 50px;
   background:var(--txt-primary-color) ; 
   padding: 16px;
   border-radius: 8px;
}
.first__card-card{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   gap: 32px;
  
}


.first__card2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:16px ;
    max-width: 155px;
    width: 100%;
}